<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'ADMINindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/updatedisease#counts">

<table width="200" border="1" id="customers">
  <tr>
    <th>DISEASE</th>
    <td><label>
      <input type="text" name="textfield" value="{{val[1]}}" />
    </label></td>
  </tr>
  <tr>
    <th>DESCRIPTION</th>
    <td>&nbsp; <textarea cols="20" rows="5"  name="textarea">{{val[2]}}</textarea></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><label>
      <input type="submit" name="Submit" value="UPDATE" class="btn btn-dark" />
    </label></td>
    </tr>
</table>
</form>
</body>
{% endblock %}
